.ad_page{
    font-weight: 700;
    font-size: 32px;
    background-color: #ff8c00;
    color: white;
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0rem;
   
}

.ad_get{
    margin-top: 1rem;
    font-size: 20px;
    background-color: white;
    color: #ff8c00;
    font-weight: 600;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 2rem;
    border: none;
}

@media (width<=768px){

    .ad_page{
        font-size: 16px;
        
    }
}